*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: #dcf0fe;
  font-family: "Montserrat", sans-serif;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤘</text></svg>")
      16 0,
    auto;
  margin: 0;
}

a {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>")
      16 0,
    auto;
}

/* Cursor */
.typed-cursor {
  font-size: 0.8em;
  color: black;
}
@media (max-width: 640px) {
  .typed-cursor {
    font-size: 0.8em;
  }
}

/* If fade out option is set */
.typed-fade-out {
  font-size: 0.8em;
  color: black;
}
