body {
  background: #dcf0fe;
  font-family: "Montserrat", sans-serif;
}
/* Cursor */
.typed-cursor {
  font-size: 0.8em;
  color: black;
}
@media (max-width: 640px) {
  .typed-cursor {
    font-size: 0.8em;
  }
}

/* If fade out option is set */
.typed-fade-out {
  font-size: 0.8em;
  color: black;
}
